qemu.log
compile_commands.json
/.cache
/.xmake
/.vscode
/.superpowers
/build
/sysroot
/build-toolchain/tarballs
/build-toolchain/src
/build-toolchain/build
/build-toolchain/opt
/build-toolchain/stamps
/toolchains/*
!/toolchains/README.md
